# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

holidaysite-app/images/
holidaysite-app/errors/
holidaysite-app/doc/
holidaysite-app/Files/


holidaysite-app/js/vendor/
holidaysite-app/js/plugins.js
holidaysite-app/js/html5shiv.min.js
holidaysite-app/js/jquery-1.10.2.min.js
holidaysite-app/js/jquery.mixitup.min.js
holidaysite-app/js/jquery.nicescroll.min.js
holidaysite-app/js/jquery.validate.min.js

holidaysite-app/css/main.css.map

Files/

holidaysite-app/.htaccess
holidaysite-app/favicons/
holidaysite-app/fonts/
holidaysite-app/nbproject/
holidaysite-app/css/.sass-cache/
holidaysite-app/css/main.css.map
holidaysite-app/icons/
holidaysite-app/images/